body {
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

.navbar {
opacity: 0.8;
}

#home {
    background-image: url(img/ホーム画像.jpg);
}

.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#profile-point {
    background-image: url(img/趣味の背景.jpg);
}

.class{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#top {
    background-color:#EEEEEE !important;
}

#last_contact {
    background-color:#EEEEEE;
}

